wp-admin
wp-includes

wp-content/ai1wm-backups/
wp-content/languages/
wp-content/plugins/*
!wp-content/plugins/ra-realty
wp-content/upgrade/
wp-content/uploads/
wp-content/*.php
wp-content/*.log

wp-content/themes/*
!wp-content/themes/understrap-child


*.git
*.php
*.html
*.txt
*.xml
*.log
.htaccess