wp-admin
wp-includes

wp-content/plugins/
wp-content/upgrade/
wp-content/uploads/
wp-content/*.php
wp-content/*.log

wp-content/themes/twentynineteen
wp-content/themes/twentyseventeen
wp-content/themes/twentytwenty
wp-content/themes/understrap
wp-content/themes/*.php


*.php
*.html
*.txt
*.xml
*.log
.htaccess